---
layout: default
title: Home
unique_css: index.css
unique_js: index.js
footer_text: "Click on the big image to go to that project's page. Click on my name for a list of links."
---
<div class="horizontal-line"></div>
<!-- Main content goes inside this div -->
<div id="main-content">
    <div id="big-display">
        {% for item in site.data.index reversed %}
            {% assign data = item[1] %}
            {% if forloop.first %}
                <div id="big-image-container">
                    <a title="Go to this project's page" id="big-link" href="{{ data.link }}">
                        <img id="big-image" src="{{ data.image }}" alt="{{ item[0] }}" fetchpriority="high">
                    </a>
                </div>
                <div id="big-text">
                    <h2 id="big-title" style="text-decoration: underline;">
                        {{ data.title }}
                    </h2>
                    <p id="big-description">
                        {{ data.description }}
                    </p>
                </div>
                <div id="controls">
                    <img id="control-big-image" src="{{ data.image }}" alt="{{ item[0] }}" onclick="update_big(this)">
            {% else %}
                    <img src="{{ data.image }}" alt="{{ item[0] }}" onclick="update_big(this)" loading="lazy">
            {% endif %}
        {% endfor %}
                </div>
    </div>
</div>
<div class="horizontal-line"></div>
