/* Universal base font */
@font-face {
    font-family: "Liter", serif;
    src: url("assets/Liter-Regular.ttf");
}

* {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* General CSS, design for mobile first */
body {
    background-image: url(assets/pl-tile.jpg);
    backdrop-filter: blur(2px) brightness(80%);
    padding: 1%;
    margin: -1%;
}

#title {
    font-weight: 650;
    font-size: 13vw;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    margin-top: 0%;
    margin-bottom: 0%;
    cursor: pointer;
    animation: rainbow 4000ms linear 0s infinite;
}

@keyframes rainbow {
    0% {
        color: rgb(255, 0, 0);
    }
    20% {
        color: rgb(255, 255, 0);
    }
    40% {
        color: rgb(0, 255, 255);
    }
    60% {
        color: rgb(0, 0, 255);
    }
    80% {
        color: rgb(255, 0, 255);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    animation: blur-in 200ms ease-out 0ms;
}

@keyframes blur-in {
    0% {
        background-color: rgba(0,0,0,0);
        backdrop-filter: blur(0px);
    }
    100% {
        background-color: rgba(0,0,0,0.6);
        backdrop-filter: blur(3px);
    }
}

@keyframes blur-out {
    0% {
        background-color: rgba(0,0,0,0.6);
        backdrop-filter: blur(3px);
    }
    100% {
        background-color: rgba(0,0,0,0);
        backdrop-filter: blur(0px);
    }
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(64, 64, 64, 0.8);
    margin: 7.5% auto; /* 7.5% from the top and centered */
    position: relative;
    top: 0%;
    padding: 1%;
    opacity: 1;
    border: 2px solid #888;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 75%; /* Could be more or less, depending on screen size */
    max-height: 80%;
    overflow: scroll;
    animation: slide-in 200ms ease-out 0ms;
}

@keyframes slide-in {
    0% {
        translate: 0% -20%;
        opacity: 0;
    }
    100% {
        translate: 0% 0%;
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        translate: 0% 0%;
        opacity: 1;
    }
    100% {
        translate: 0% -20%;
        opacity: 0;
    }
}

.modal-content h2 {
    text-align: center;
    color: lightskyblue;
    font-size: 10vw;
    text-shadow: 2px 2px 2px black;
}

/* Center align the table contents */
.modal-content > table {
    margin: auto;
}

.modal-flex > td {
    text-align: center;
    height: 200px;
}

/* Hover overlay for logos */
.hoverlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
}

.hoverlay:hover {
    box-shadow: inset 0 0 20px rgba(135, 206, 250, 0.75);
    filter: brightness(115%);
}

/* The logos for the links */
.modal-item {
    width: 80%;
    aspect-ratio: 1;
}

/* Horizontal line to separate main content from title and footer*/
.horizontal-line {
    max-width: 97.5%;
    border: 0.25vh rgba(192, 192, 192, 0.75) solid;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Main content, the big image, description, and controls */
#main-content {
    max-width: 95%;
    height: auto;
    margin: auto;
    aspect-ratio: 9/16;
    backdrop-filter: blur(5px) brightness(80%);
    border-radius: 5px;
    padding: 1%;
}

#big-display {
    max-height: 60%;
    max-width: 100%;
    height: 100%;
}

#big-image-container {
    width: 95%;
    aspect-ratio: 1;
    padding: 1%;
    margin: auto;
    opacity: 1;
    transition: opacity 250ms ease-out 0ms;
}

/* When clicking on image in control bar */
#big-image-container.fade {
    opacity: 0;
}

#big-image {
    width: 100%;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px black;
}

#big-text {
    max-width: 100%;
    margin: auto;
    padding: 0.5%;
    height: 50%;
    opacity: 1;
    transition: opacity 0.25s ease-out 0ms;
}

/* When clicking on image in control bar */
#big-text.fade {
    opacity: 0;
}

#big-title {
    text-align: center;
    color: lightskyblue;
    font-size: 7.5vw;
    display: block;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

#big-description {
    font-size: 2.8vw;
    color: lightskyblue;
    text-shadow: 1px 1px 2px black;
}

#big-description > a {
    text-decoration: none;
    color: lightcyan;
    text-shadow: 1px 1px 2px black;
}

#big-description > a:hover {
    color: white;
}

#controls {
    display: block;
    max-width: 100%;
    height: 21%;
    padding: 0.5%;
    padding-top: 2%;
    border-top: 0.25vh rgba(192, 192, 192, 0.5) solid;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#controls img {
    max-height: 100%;
    display: inline-block;
    cursor: pointer;
}

#control-big-image {
    animation: pulse 2000ms infinite 0ms;
}

@keyframes pulse {
    50% {filter: brightness(120%);}
}

/* Handling transitions on click */
#big-image-container.fade {
    opacity: 0;
}

#big-text.fade {
    opacity: 0;
}

/* Footer section */
footer {
    text-align: center;
    padding: 1%;
}

.footer-text {
    display: inline;
    text-shadow: 1px 1px 2px black;
    font-size: 2.4vw;
}

/* Handle desktop web browsers */
@media only screen and (orientation: landscape) {
    #title {
        font-size: 8vw;
    }

    /* Adjust modal for landscape, logos are placed horizontally instead of vertically */
    .modal-content {
        background-color: rgba(64, 64, 64, 0.8);
        margin: 7.5% auto; /* 7.55% from the top and centered */
        padding: 1%;
        border: 1px solid #888;
        width: 85%; /* Could be more or less, depending on screen size */
        max-height: 65%;
    }

    .modal-content h2 {
        text-align: center;
        color: lightskyblue;
        font-size: 5vw;
    }

    .modal-flex {
        display: inline-flex;
        flex-direction: column;
    }

    .modal-item {
        width: 95%;
    }

    #main-content {
        aspect-ratio: 23/9;
    }

    /* Image on left, description upper right, controls lower right */
    #big-display {
        max-height: 100%;
        max-width: 100%;
    }

    #big-image-container {
        height: 95%;
        width: auto;
        float: left;
    }

    #big-text {
        width: 58.5%;
        height: 66%;
        float: right;
    }

    #big-title {
        text-align: center;
        color: lightskyblue;
        font-size: 4vw;
    }

    #big-description {
        font-size: 1.4vw;
    }

    #controls {
        float: right;
        width: 58.5%;
        height: 25%;
        padding-top: 1%;
    }

    .footer-text {
        font-size: 1.25vw;
    }
}
