<!-- Title + modal button -->
<h1 title="Click to show links" id="title" onclick="show_modal()">
    | <u>KYLE MUI</u> |
</h1>

<!-- The Modal -->
<div id="the-modal" class="modal">
    <div id="the-modal-content" class="modal-content">
        <h2>LINKS</h2>
        <table>
            <tr class="modal-flex">
                <td>
                    <div class="hoverlay">
                        <a title="My GitHub profile" href="https://github.com/Tsunderarislime"><img class="modal-item" src="/assets/images/github.webp" alt="GitHub Logo" loading="lazy"></a>
                    </div>
                </td>
            </tr>
            <tr class="modal-flex">
                <td>
                    <div class="hoverlay">
                        <a title="My LinkedIn profile" href="https://www.linkedin.com/in/kyle-mui-1907252b0/"><img class="modal-item" src="/assets/images/linkedin.webp" alt="LinkedIn Logo" loading="lazy"></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
